:root {

    --ink: #333;
    --paper: #fff;
    --accent: #5affff;
    --active: #2ee2e2;

    --wire: hsla(209, 0%, 60%, 0.4);
    --face-bg: hsla(209, 0%, 10%, 0.95);
    --thickness: 2px;
    --text-color: hsla(209, 0%, 60%, 1);

    --dot-color: hsla(209, 0%, 60%, 0.9);
    --dot-size: 40px;
    --size: 200px;
    --half: 100px;

    --grid: radial-gradient(var(--dot-color) 4%, transparent 5%) 0 0 / var(--dot-size) var(--dot-size);

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 110%;
    margin-bottom: 1rem;
}



body {
    background-color: #91817d;
}

main {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#preview3d {
    width: 100%;
    height: 100vh;
}


#faces {
    position: absolute;
    inset: 0;
}

#toggles {
    position: absolute;
    top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    left: 0;
    right: 0;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}



.drawingPad {
    position: absolute;
    border-radius: 0.5rem;
    overflow: hidden;
    top: 50%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
    width: 360px;
    height: auto;
    box-shadow: 0 8px 32px #00000033;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 360px;
    pointer-events: none;
    background: var(--grid);
}

.fabricToolbox {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0.5rem;
    gap: 0.5rem;
}


.label {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-weight: 600;
    font-size: 1rem;
    pointer-events: none;
    color: var(--text-color);
}

button {
    color: var(--ink);
    font-weight: 600;
    font-size: 1rem;
    width: fit-content;
    min-width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #ffffff;
    border: none;
    appearance: none;
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 4px #00000033, 0 0 0 1px #00000011;
}

.selected {
    background-color: var(--ink);
    color: var(--paper);
}

button>svg {
    width: 1rem;
    height: 1rem;
}

button:hover {
    background-color: var(--accent);
    color: var(--ink);
    cursor: pointer;
}

button:active {
    background-color: var(--active);
}

#saveButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 9999;
}

dialog {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 100%;
    max-width: 28rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 2rem;
    margin: 0;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 4rem #00000066;
}

dialog::backdrop {
    background-color: darkorange;
    background-image: linear-gradient(130deg, #ff7a18,
            #af002d 41.07%,
            #319197 76.05%);
}

form {
    margin-top: 1rem;
}